#calculator-buttons-numbers {
    display: flex;
    flex-direction: column;
}
.btn {
    transform: scale(2.5);
    margin: 20px;
    border-radius: 40%;
}
.op-btn {
    transform: scale(2.5);
    margin: 20px;
    border-radius: 40%;
}
.ac-btn {
    transform: scale(2.5);
    margin: 20px;
    border-radius: 40%;
}
#null {
    display: flex;
    justify-content: center;
}
#calculator-screen {
    background-color: greenyellow;
    height: 70px;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    
}
#calculator-body {
    background-color: brown;
    border-radius: 10%;
    height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
