
#calculator-buttons-numbers {
    display: flex;
    flex-direction: column;
}

.btn,
.op-btn,
.ac-btn,
.b-btn,
#comma {
    transform: scale(2.5);
    margin: 20px;
    border-radius: 40%;
}


#null {
    display: flex;
    justify-content: center;
}

#calculator-screen {
    background-color: greenyellow;
    height: 70px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    width: 100%;
    border-radius: 10%;
}

#calculator-body {
    background-color: brown;
    border-radius: 10%;
    padding: 15px;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



@media screen and (max-width: 767px) {
    #calculator-body {
        width: 350px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator-body {
        width: 400px;
    }
}