
#calculator-buttons-numbers {
    display: flex;
    flex-direction: column;
}
#introduction {
    border: 1px solid black ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    margin: 25px;
    border-radius: 35%;
}
main {
    display: flex;
    flex-direction: column;
}
.btn,
.op-btn,
.ac-btn,
.b-btn,
#comma {
    transform: scale(2.5);
    margin: 20px;
    border-radius: 40%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}


#null {
    display: flex;
    justify-content: center;
}

#calculator-screen {
    background-color: greenyellow;
    height: 70px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    width: 100%;
    border-radius: 10%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

#calculator-body {
    background-color: brown;
    border-radius: 10%;
    padding: 15px;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(172, 54, 54);
}

#calculator {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    #calculator-body {
        width: 350px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator-body {
        width: 400px;
    }
}